@import '../fonts/unbounded/unbounded.scss';
@import "@flaticon/flaticon-uicons/css/all/all";
@import 'root.scss';
@import './theme/light.scss';
@import './theme/dark.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Unbounded', sans-serif;
	line-height: 1.5;
  color: var(--text-primary)
}

.fi {
	margin-top: 3px;
	display: block;
}

._hide {
	display: none;
}

h1 {
	font-size: var(--text-size-big);
	
	@media (max-width: 768px) {
		font-size: var(--text-size);
	}
}