:root {
  --text-size: 16px;
  --text-size-small: 14px;
  --text-size-smaller: 12px;
  --text-size-big: 20px;

  --breakpoint-xxxxl: 1800px;
  --breakpoint-xxxl: 1650px;
  --breakpoint-xxl: 1439px;
  --breakpoint-xl: 1200px;
  --breakpoint-lg: 992px;
  --breakpoint-md: 768px;
  --breakpoint-sm: 576px;
  --breakpoint-xs: 480px;
  --breakpoint-xxs: 360px
}