.song-form {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  transition: .2s;

  &__header {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title {
    margin-right: auto;
  }
  
  &__container {
    grid-column: 1/-1;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    align-content: start;
  }
  
  &__textarea {
    height: 100%;
  }

  &__button {
    grid-column: span 1;
  }
}