.song-list {
  &__items {
    display: grid;
    gap: 10px;
    align-items: start;
    overflow-y: auto;
  }

  &__not-found {
    padding: 10px;
    text-align: center;
    color: var(--text-secondary);
  }
}