.button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.35rem;
  font-weight: 500;
  color: var(--text-white);
  background: var(--color-primary);
  transition: color 0.2s ease, background 0.2s ease, border 0.2s ease, opacity 0.2s ease;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  cursor: pointer;
  opacity: .7;
}

.button._primary {
  background-color: var(--bg-secondary);
  color: var(--color-primary);
}

.button._secondary {
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

.button._transparent {
  background-color: transparent;
  color: var(--text-primary);
}

.button._transparent:not(:disabled):hover {
  opacity: 0.5;
}

.button._danger {
  background-color: var(--bg-negative);
}

.button._big {
  padding: 0.75rem 1.5rem;
}

.button._small {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}

.button._only-icon {
  padding: 0.5rem;
}

.button._big._only-icon {
  padding: 0.75rem;
}