.collection-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  align-items: start;
  overflow-y: auto;

  &__message {
    margin: 50px 0;
    color: var(--text-secondary);
    text-align: center;
  }
}