.collection-card {
  background-color: var(--bg-blue-light);
  padding: 20px;
  border-radius: 20px;
  min-height: 200px;
  display: grid;
  gap: 10px;
  align-content: start;
  transition: .2s;
  text-decoration: none;
  cursor: pointer;

  &__header {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__count {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.transition-entering .collection-card {
  opacity: 0;
}

.transition-entered .collection-card {
  opacity: 1;
}

.transition-exiting .collection-card {
  opacity: 0;
}