.collection-select {

  &._load {
    width: 150px;
    height: 20px;
    border-radius: 5px;
  }

  &__field {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: .2s;

    &:hover {
      opacity: .7;
    }

    &-icon {
      line-height: 1;
    }
  }

  &__list {
    display: grid;
    gap: 10px;
  }

  &__link {
    cursor: pointer;
    transition: .2s;

    &:hover {
      opacity: .7;
    }
  }
}