.collection-select {
  width: 100%;
  position: relative;

  &__transition {
    transition: .2s;
  }
}

.transition-exited {
  &.collection-select__transition {
    opacity: 0;
  }

  .collection-select__skeleton {
    opacity: 0;
  }
}

.transition-entered {
  &.collection-select__transition {
    opacity: 1;
  }

  .collection-select__skeleton {
    opacity: 1;
  }
}

.transition-exiting {
  &.collection-select__transition {
    opacity: 0;
  }

  .collection-select__skeleton {
    opacity: 0;
  }
}