.dark-theme {
  --color-primary: #5db1ff;
  --color-negative: #ff8c8c;

  --text-primary: #ffffff;
  --text-secondary: #999999;
  --text-white: #ffffff;

  --bg-primary: #333333;
  --bg-secondary: #24272b;
  --bg-positive: #d8ffe7;
  --bg-negative: #ff4e4e;

  --shadow-primary: 0 0 20px #00000015;
  --shadow-secondary: 0 0 0 4px #28333d;
}