:root {
  --color-primary: #5db1ff;
  --color-negative: #f00

  --text-primary: #333333;
  --text-secondary: #999999;
  --text-white: #fff;

  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --bg-positive: #d8ffe7;
  --bg-negative: #ff8080;

  --shadow-primary: 0 0 20px #00000015;
  --shadow-secondary: 0 0 0 4px #dbeeff;
  --shadow-secondary-small: 0 0 0 2px #dbeeff;
}