.collection-page {
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-rows: auto auto 1fr auto;

  &__header {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title {
    margin-right: auto;
  }
}