.dark-theme {
  --color-primary: #5DB1FF;
  --color-secondary: #F0F8FF;
  --color-error: #FF8C8C;

  --text-primary: #ffffff;
  --text-secondary: #999999;
  --text-light: #cccccc;

  --bg-primary: #24272B;
  --bg-secondary: #333333;
  --bg-blue-light: #37424a;
}