.dark-theme {
  --color-primary: #5db1ff;
  --color-secondary: #f0f8ff;
  --color-error: #ff8c8c;

  --text-primary: #ffffff;
  --text-secondary: #999999;
  --text-light: #cccccc;

  --bg-primary: #24272b;
  --bg-secondary: #333333;
  --bg-blue-light: #37424a;
}
