.light-theme {
  --color-primary: #5db1ff;
  --color-secondary: #f0f8ff;
  --color-error: #ff8c8c;

  --text-primary: #333333;
  --text-secondary: #999999;
  --text-light: #cccccc;
  --text-white: #fff;

  --bg-primary: #ffffff;
  --bg-secondary: #f5f5f5;
  --bg-blue-light: #f0f8ff;
  --bg-positive: #d8ffe7;
  --bg-negative: #ffcfcf;

  --shadow-secondary: 0 0 0 4px #dbeeff;
  --shadow-error: 0 0 0 4px #ffdcdc;
}
