.layout-auth {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-primary);
  
  &__container {
    display: grid;
    justify-items: center;
    align-content: center;
    gap: 20px;
    max-width: 400px;
    margin: auto;
    height: 100%;
    padding: 50px 20px 100px;
    text-align: center;
  }

  &__logo {
    font-weight: bold;
    text-decoration: none;
    color: #F5F5F5;
    font-size: 60px;
    margin-bottom: 10px;
  }
}