.select {
  position: relative;

  &__field {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: var(--bg-primary);
    transition: .2s;
    width: 100%;  
    padding: 10px 15px;
    cursor: pointer;

    &:not(._disabled):hover,
    &._open {
      border: 1px solid var(--color-primary);
    }

    &._open {
      box-shadow: var(--shadow-primary);
    }

    &._disabled {
      opacity: 0.8;
      cursor: not-allowed;
    }
  }

  &__input {
    display: block;
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
    font-size: var(--text-size-small);

    &:read-only {
      cursor: pointer;
    }

    &::placeholder {
      color: var(--text-light);
    }
  }

  &__icon {
    cursor: pointer;
    line-height: 1;

    &._open {
      transform: rotate(180deg);
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 5px;
  }

  &__tag {
    display: flex;
    align-items: center;
    gap: 2px;
    line-height: 1;
    width: max-content;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 5px;
    background-color: var(--color-primary);
    color: var(--text-white);
    font-size: var(--text-size-smaller);
    transition: 0.2s;

    &:hover {
      opacity: .7;
      transform: scale(.98);
    }

    &-icon {
      color: var(--text-white);
      line-height: 1;
      font-size: 15px;
      margin-top: 2px;
    }
  }

  &__options {
    display: grid;
    gap: 5px;
    width: 100%;
    left: 0;
    position: absolute;
    z-index: 10;
    background: var(--bg-secondary);
    padding: 10px;
    box-shadow: var(--shadow-primary);
    border-radius: 10px;
    transition: .2s;

    &-title {
      font-size: var(--text-size-small);
    }

    &-item {
      padding: 5px 10px;
      border-radius: 5px;
      font-size: var(--text-size-small);
      background-color: var(--bg-primary);
      transition: .2s;
      width: max-content;
  
      &._selected {
        background-color: var(--color-primary);
        color: var(--text-white);
        cursor: default;
      }
  
      &:not(._selected):hover {
        opacity: .6;
        cursor: pointer;
      }
    }

    &-message {
      margin: 50px 0;
      font-size: var(--text-size-small);
      color: var(--text-light);
      text-align: center;
    }
  }
}
