.category-card {
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 1;
  width: max-content;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  background-color: var(--bg-primary);
  transition: .2s;

  &:hover {
    opacity: .6;
  }

  &._active{
    background-color: var(--color-primary);
    color: var(--text-white);

    &:hover {
      opacity: .8;
    }
  }
}