.navigation {
  display: grid;
  gap: 15px;
  padding: 10px;

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__logo {
    font-weight: bold;
    font-size: 20px;
    margin-right: auto;
  }

  &__link {
    font-size: var(--text-size);
  }
}