.like-song {
  color: var(--bg-primary);
  cursor: pointer;
  font-size: 20px;
  transition: .1s;

  &._active,
  &:active,
  &:hover {
    color: var(--bg-negative);
  }

  &:active {
    transform: scale(1.1);
  }
}