.song-card {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 5px;
  align-items: center;

  &._load {
    border-radius: 10px;
    height: 30px;
  }

  &__link {
    text-decoration: none;
    transition: .2s;
    cursor: pointer;

    &:hover {
      opacity: .6;
    }
  }
}