.song-content {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  height: 100%;
  overflow-y: auto;

  &._full {
    position: fixed;
    inset: 0;
    background-color: var(--bg-secondary);
    padding: 1rem;
    overflow-y: auto;
    z-index: 100;
  }

  @media (max-width: 768px) {
    gap: 10px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }  

  &__title {
    font-size: var(--text-size-big);
    line-height: 1.3;
    margin-right: auto;
  }

  &__buttons {
    display: grid;
    justify-content: end;
    gap: 10px;
    position: sticky;
    bottom: 20px;
  }
}